<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body style="background-color: #E0FFBF;">

	<br>
	<br>
	<br>

	<h1 style="text-align:center; color: red;"><u>Benvenuto in Biblioteca!</u></h1>

	<br>

	<hr style="width: 50%;" align="center">

	<div align="center", style="border: 2px solid black; width:50%; margin-left: 25%; margin-right: 25%;">

	<h2 style="background-color: #00E100; text-align:center">Scegli cosa fare:</h2>

	<table border="2" style="width:75%" align="center">
		<tr>
			<td><a style="color: #006000", href="/addNewBook"><h3 style="text-align:center">Registra un nuovo libro!</h3></a></td>
		</tr>
		<tr>
			<td><h3 style="text-align:center"><a style="color: #006000", href="/library">Clicca qui per visualizzare i libri presenti in biblioteca</a></h3></td>
		</tr>
		<tr>
			<td><h3 style="text-align:center"><a style="color: #006000", href="/search">Clicca qui per effettuare una ricerca</a></h3></td>
		</tr>
	</table>

		<br>

	</div>

	<br>

	<hr style="width: 50%;" align="center">
    
</body>
</html>