<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Esito inserimento Libro</title>
</head>
<body style="background-color: #E0FFBF; margin-top: 5%;">

	<h1 style="text-align:center; color: red;"><u>Libro inserito con successo!</u></h1>

	<hr style="width: 40%;" align="center">

	<h3 style="text-align:center"><a href="/library">Clicca qui per visualizzare i libri presenti in biblioteca</a></h3>

	<hr style="width: 40%;" align="center">

	<h3 style="text-align:center"><a href="/addNewBook">Aggiungi un nuovo libro</a></h3>

	<hr style="width: 40%;" align="center">

	<br>

	<a href="/"><h4 style="text-align:center">Torna alla Home Page</h4></a>
    
</body>
</html>